{% extends 'layout.html.twig' %}

{% block content %}
  <h2>Recette de la quiche lorraine : </h2>
  <h3>Recipe - Vuejs/Components/Webpack</h3>

  <div class="recipe-components-webpack"></div>

{% endblock %}


{% block stylesheets %}
  <style>
    .Recipe-IngredientList {
      width: 250px;
      border: 1px solid #777;
      border-radius: 3px;
      padding: 5px;
      margin-top: 5px;
    }

    .Recipe-Ingredient {
      border-bottom: 1px solid black;
      padding: 5px 0;
    }

    .Recipe-Ingredient:last-child {
      border-bottom: none;
    }

    .Recipe-Ingredient span {
      font-weight: 600;
    }
  </style>
{% endblock %}


