{% extends 'layout.html.twig' %}

{% block content %}
  <h2>Widgets</h2>

  <div data-vue-widget="MyFirstWidget" data-widget-name="The Widget of The Dead"></div>
  <div data-vue-widget="MyFirstWidget" data-widget-name="Beer is Good"></div>
  <div data-vue-widget="MyFirstWidget" data-widget-name="Vive MontpellierJs <3"></div>

{% endblock %}


{% block stylesheets %}

{% endblock %}


